[submodule "assets/jdk7u-langtools"]
	path = assets/jdk7u-langtools
	url = https://github.com/openjdk-mirror/jdk7u-langtools.git
        ignore = dirty
[submodule "assets/jdk8u_langtools"]
	path = assets/jdk8u_langtools
	url = https://github.com/JetBrains/jdk8u_langtools.git
        ignore = dirty
